@import "../theme/variables";


/*Contact Button Styles*/
.btn {
	display: inline-block;

	margin: $gth;
	padding: $gth $gtd;

	font-family: $font-family-sans-serif;
	color: $afs-text-color-4;
	line-height: 1;

	background: $afs-btn-main-bg;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;

	&--home {
		@extend .btn;

		font-size: 30px;
		font-weight: 700;
	}

	&--arrow {
		@extend .btn;

		position: relative;
		font-size: 18px;
		font-weight: 200;

		&::after {
			content: " ";
			position: absolute;
		    top: 0;
		    right: -24px;
			height: 0;
			width: 0;
			border-style: solid;
			border-color: transparent $afs-btn-main-bg;
		    border-width: 24px 0 24px 24px;
		}
	}
}

.afs-title-alt {
	font-family: $font-family-sans-serif-alt;
	font-size: 50px;
	color: $afs-text-color-2;
}

.afs-title-lg {
	font-family: $font-family-serif;
	font-size: 60px;
}


.afs-subtitle {
	font-family: $font-family-serif;
	color: $afs-text-color-1;
	font-size: 16px;
	letter-spacing: .4em;

	text-transform: uppercase;
}

.scta-title {
	font-family: $font-family-serif;
	color: $afs-text-color-1;
	font-size: 16px;

	text-transform: uppercase;
}

.icta-title {
	font-family: $font-family-sans-serif-alt;
	color: $afs-text-color-1;
	font-size: 50px;
	font-weight: 700;
}

.icta-subtitle {
	font-family: $font-family-sans-serif;
	color: $afs-text-color-3;
	font-size: 20px;
	font-weight: 600;

	&-dark {
		@extend .icta-subtitle;
		color: $afs-text-color-1;
	}
}