@import 'theme/variables';

@font-face {
	font-family: 'Sports World';
	src: url('../fonts/sportsworld/sports_world-regular-webfont.woff2')
			format('woff2'),
		url('../fonts/sportsworld/sports_world-regular-webfont.woff')
			format('woff');
	font-weight: 400;
	font-style: normal;
}

.wordkeeper-video {
	min-width: initial !important;
}

.header {
	&-split {
		display: flex;
		flex-flow: row nowrap;

		&__image {
			flex: 0 0 790px;

			img {
				width: 100%;
				height: 100%;

				object-fit: cover;
			}
		}

		&__content {
			flex: 1;

			padding: 30px 1.5%;
			background-color: #eeeeee;

			&-container {
				max-width: 768px;
				margin: 0 auto;
			}

			.fsBody {
				.fsForm {
					.fsSection {
						display: flex;
						flex-flow: column;
					}

					.fsRow {
						.fsSubFieldGroup {
							display: flex;
							flex-flow: row nowrap;

							.fsSubField {
								flex: 1 1 0;
							}
						}
					}
				}
			}
		}

		@media screen and (max-width: 1199px) {
			flex-flow: column nowrap;

			&__image,
			&__content {
				flex: 1;
			}
		}
	}
}

//Generall section Styles
.afs-sp {
	font-size: 1.8rem;
	font-weight: 300;
	color: #666666;

	strong {
		color: $afs-blue;
	}

	.tiny-text {
		font-size: 1.2rem;
	}

	&-promotions {
		> .container {
			> .row.afs-sp-promotions-container {
				text-align: center;

				> div {
					display: inline-block;
					float: none;

					vertical-align: top;
				}
			}
		}
	}

	&-form {
		background-size: cover;
		background-position: center center;

		&.birthday {
			.form-header {
				font-family: $font-family-special-bday;
				text-align: center;
				color: $form-header-color;
				text-transform: uppercase;

				font-size: 1rem;

				.birthday-l1 {
					display: flex;
					flex-flow: row nowrap;
					justify-content: center;

					margin-bottom: -15px;

					text-align: center;

					&-main {
						font-size: 2.4em;
						flex-shrink: 0;
						margin-bottom: 0;
					}

					&::before,
					&::after {
						content: ' ';
						display: block;

						flex-shrink: 1;

						height: 16px;
						width: 100%;
						margin: 11px 10px 0 10px;

						background-color: transparent;

						border-top: 4px solid $form-header-color;
						border-bottom: 4px solid $form-header-color;
						border-left-color: transparent;
						border-right-color: transparent;
					}
				}

				.birthday-l2 {
					font-size: 7.8em;
					line-height: 1;

					margin-bottom: 15px;
				}
			}
		}

		&.parade {
			.form-header {
				margin-bottom: 15px;

				color: $afs-text-color-1;
				font-weight: 700;
				text-transform: uppercase;
				text-align: center;
				line-height: 1.1;

				font-size: 1rem;

				.parade-l1 {
					font-size: 4em;
				}

				.parade-l2 {
					font-size: 15em;
				}

				.parade-l3 {
					font-size: 4.6em;
				}

				.parade-l4 {
					font-size: 2.4em;
					font-weight: 300;
				}
			}
		}

		.form-container {
			padding: $gtf;
			background: transparentize($afs-primary-bkg, 0.1);

			font-family: $font-family-sans-serif-alt;
			color: $gray-light;
			font-size: 1.6rem;
			font-weight: 300;

			p {
				text-align: center;
				margin-bottom: 0px;
			}
		}
	}

	&-3col {
		padding: 120px 0;

		.afs-title-lg {
			margin-bottom: 60px;

			color: $afs-text-color-1;
			text-align: center;
		}

		.item {
			text-align: center;

			&-icon {
				height: 300px;
				max-height: 300px;

				margin-bottom: 30px;
			}

			&-content {
				font-family: $font-family-sans-serif-alt;
				font-weight: 300;
				text-align: left;
			}
		}

		&.light {
			.item {
				&-content {
					font-size: 1.6rem;
					color: $gray-light;
				}
			}
		}

		&.dark {
			background-color: $afs-secondary-bkg;

			.item-content {
				color: $afs-black;
				font-size: 2.2rem;
				line-height: 1.36;

				a {
					font-weight: 700;
				}
			}
		}
	}

	&-5col {
		padding: 60px 0;

		&__title {
			margin-bottom: 30px;
			text-align: center;

			.afs-title-alt {
				font-size: 3.4rem;
			}
		}

		&__columns {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
		}

		&__column {
			width: 20%;

			padding: 15px;

			.col-icon {
				margin-bottom: 30px;
				width: 100%;
			}

			.col-content {
				text-align: center;

				.afs-title-alt-sm {
					font-weight: 600;
				}

				p {
					font-family: $font-family-sans-serif;
					font-size: 1.8rem;
					color: $gray-light;
					font-weight: 400;
				}
			}
		}
	}

	&-fin {
		background-size: cover;

		color: $afs-text-color-4;
		font-size: 1.6rem;

		a {
			color: $afs-text-color-3;

			&.btn--rounded {
				color: $afs-text-color-4;
			}
		}
	}

	&-simple {
		font-size: 2.4rem;
		font-weight: 300;
		color: $afs-body-main-color;

		text-align: center;

		.afs-title-lg {
			color: $afs-text-color-1;
		}

		p {
			font-family: $font-family-sans-serif-alt;
		}

		&-bg {
			padding-bottom: 300px;

			background-size: contain;
			background-position: bottom center;
			background-repeat: no-repeat;
		}

		&-2col {
			display: flex;
			flex-flow: row nowrap;

			> p {
				width: 50%;
				padding: 0 15px;
			}
		}
	}

	&-logos {
		color: $afs-body-main-color;
		text-align: center;

		&-content {
			margin-bottom: 30px;

			font-size: 3.4rem;
			font-weight: 700;
		}

		&-logos {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;

			.logo {
				padding: 30px;
				max-width: 20%;

				img {
					height: auto;
					width: 100%;
				}
			}
		}
	}

	&-wholesale-2018 {
		font-family: $font-family-sans-serif;

		.content {
			padding: 60px;

			text-align: center;

			background-color: #fff;

			img {
				width: 100%;
				margin-bottom: 30px;
			}

			&__info {
				display: flex;
				flex-flow: row wrap;

				h3 {
					color: $gray-light;
					font-size: 3rem;
					font-weight: 700;

					margin-bottom: 0px;
				}

				p,
				address {
					margin-bottom: 30px;

					font-size: 1.8rem;
					color: $gray-light;
				}

				.btn--square {
					max-width: 180px;

					padding: 15px 25px;
					margin: 0 auto;

					font-size: 1.2rem;
				}
			}

			&__location,
			&__hours {
				flex-grow: 1;
			}
		}
	}

	&-mapbox {
		padding: 90px 0;

		.col-lg-4 {
			padding: 60px 30px;
			margin: 15px;

			font-size: 1.6rem;
			text-align: center;
			background-color: #fff;

			float: right;
		}
	}

	&-5050 {
		.container {
			display: flex;
			flex-flow: row wrap;

			&::before,
			&::after {
				content: none;
			}
		}
	}
}

//Promotion Specific Styles
#march-20-sale {
	.afs-sp {
		&-5050 {
			.afs-title-alt-sm {
				margin-bottom: 30px;

				font-size: 3rem;
				font-family: $font-family-sans-serif;
				font-weight: 400;
				line-height: 1.6;
			}

			p {
				margin-bottom: 30px;
			}
		}
	}
}

#p100off500 {
	.afs-sp {
		&-simple {
			&-bg {
				.afs-title-sm {
					width: 100%;
					max-width: 800px;
					margin: 0 auto 30px auto;

					color: $afs-green;
				}

				.afs-title-lg {
					margin-bottom: 30px;
				}

				.afs-title-skinny {
					width: 100%;
					max-width: 900px;
					margin: 0 auto 30px auto;
				}

				.afs-title-skinny.green {
					padding: 30px 15px;
					border-top: 1px solid black;
					border-bottom: 1px solid black;

					color: $afs-green;
					font-weight: 700;
				}
			}
		}
	}
}

#ooc-opening {
	.afs-sp {
		&-simple {
			p {
				margin-bottom: 30px;
				font-size: 1.6rem;
			}

			.afs-title-lg {
				margin-bottom: 30px;
			}

			.afs-title-skinny {
				width: 100%;
				margin: 0 auto 30px auto;
			}

			.afs-title-skinny.green {
				padding: 30px 15px;
				border-top: 1px solid black;
				border-bottom: 1px solid black;

				p {
					margin-bottom: 0px;
					font-size: 3rem;
					color: #547730;
					font-weight: 500;
				}
			}
		}
	}
}

/*Form Stack- Enter to Win*/
.fsBody {
	background-color: transparent !important;

	.fsForm {
		background-color: transparent !important;

		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}

	#fsForm2426652 {
		.fsRow {
			margin-bottom: 0 !important;

			.fsRowBody.fsFieldFocused {
				margin: 0 0 20px 0 !important;
			}
		}

		/*Form Field - Name*/
		#fsRow2426652-1 {
			width: 100%;

			.fsRowBody {
				> .fsLabel {
					display: none;
				}

				.fsSubFieldGroup {
					.fsSubField {
						position: relative;

						.fsSupporting {
							position: absolute;
							top: -20px;

							font-size: 1.4rem;
						}
					}
				}
			}
		}

		#fsRow2426652-2 //Form Field - Phone
		 {
			padding-right: 10px;
		}

		#fsRow2426652-2, //Form Field - Phone
		#fsRow2426652-3  //Form Field - Email
		 {
			width: 50%;
			float: left;

			.fsRowBody {
				.fsLabel {
					font-size: 1.4rem;
				}
			}
		}

		#fsRow2426652-4 //Form Field - Purchase
		 {
			width: 100% !important;

			.fsRowBody {
				select {
					width: calc(50% - 10px);
					-moz-appearance: menulist;
					-webkit-appearance: menulist;
				}

				.fsLabel {
					font-size: 1.4rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1439px) {
	.afs-sp {
		&-form {
			&.birthday {
				.form-header {
					font-size: 0.75rem;

					.birthday-l1 {
						margin-bottom: -10px;

						&::before,
						&::after {
							height: 12px;
							margin: 10px 10px 0 10px;
							border-top: 4px solid $form-header-color;
							border-bottom: 4px solid $form-header-color;
						}
					}
				}
			}

			&.parade {
				.form-header {
					font-size: 0.85rem;
				}
			}
		}

		&-5col {
			&__column {
				width: 25%;
			}
		}

		&-logos {
			&-content {
				font-size: 2.8rem;
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.afs-sp {
		&-form {
			&.birthday {
				.form-header {
					font-size: 0.85rem;
				}
			}
		}

		&-logos {
			&-content {
				font-size: 2.6rem;
			}

			&-logos {
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;

				.logo {
					width: calc(33% -30px);
					max-width: initial;

					margin: 0 15px 30px 15px;
				}
			}
		}

		&-simple {
			font-size: 2.2rem;

			.btn--square {
				font-size: 2.2rem;
			}
		}

		&-3col {
			.item {
				&-icon {
					height: 200px;
				}
			}

			&.light,
			&.dark {
				.item {
					&-content {
						font-size: 1.8rem;
					}
				}
			}
		}

		&-5col {
			&__column {
				.col-content {
					p {
						font-size: 1.6rem;
					}
				}
			}
		}
	}

	#march-20-sale {
		.afs-sp {
			&-5050 {
				.afs-title-alt-sm {
					font-size: 2.4rem;
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.afs-sp {
		&-form {
			&.birthday {
				.form-header {
					font-size: 0.8rem;
				}
			}
		}

		&-simple {
			font-size: 2rem;

			.btn--square {
				padding: 15px 30px;
			}

			&-bg {
				.afs-title-sm {
					font-size: 1.4rem;
				}
			}
		}

		&-3col {
			padding: 60px 0;
		}

		&-5col {
			&__column {
				width: 33.33%;
			}
		}

		&-5050 {
			.container {
				.row {
					.col-md-6 {
						&:nth-child(1) {
							order: 2;
						}

						&:nth-child(2) {
							order: 1;
							width: 100%;

							margin-bottom: 30px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.afs-sp {
		&-3col {
			.item {
				text-align: center;
				margin-bottom: 30px;

				&-icon {
					float: left;

					width: 200px;
					height: auto;

					margin-right: 30px;
					margin-bottom: 35px;
				}

				&-content {
					padding-top: 15px;
					font-size: 1.4rem;
				}

				&::after {
					content: ' ';
					display: block;
					clear: both;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.afs-sp {
		&-form {
			&.birthday {
				.form-header {
					font-size: 0.8rem;
				}
			}
		}

		&-3col {
			.item {
				text-align: center;
				margin-bottom: 30px;

				&-content {
					padding: 0 60px;

					font-size: 1.4rem;
					text-align: center;
				}
			}
		}

		&-5col {
			&__column {
				width: 50%;

				.col-content {
					p {
						font-size: 1.4rem;
					}
				}
			}
		}

		&-logos {
			&-content {
				font-size: 2.4rem;
			}
		}

		&-simple {
			font-size: 1.8rem;

			&-bg {
				padding-bottom: 250px;

				.afs-title-skinny.green {
					font-size: 2.6rem;
				}
			}

			&-2col {
				flex-wrap: wrap;

				> p {
					width: 100%;
				}
			}
		}
	}

	#ooc-opening {
		.afs-sp {
			&-simple {
				p {
					margin-bottom: 15px;
					font-size: 1.4rem;
				}

				.afs-title-lg {
					margin-bottom: 15px;
				}

				.afs-title-skinny.green {
					p {
						font-size: 2.2rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 699px) {
	.fsBody {
		.fsSubmit {
			.fsSubmitButton {
				width: auto !important;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.afs-sp {
		&-form {
			.form-container {
				padding: 15px;
			}

			&.birthday {
				.form-header {
					font-size: 0.75rem;

					.birthday-l1 {
						&::before,
						&::after {
							margin: 7px 10px 0 10px;
						}
					}
				}
			}

			&.parade {
				.form-header {
					font-size: 0.65rem;
				}
			}

			.form-form {
				p {
					margin-bottom: 15px;
				}
			}
		}

		&-simple {
			font-size: 1.4rem;
		}

		&-wholesale-2018 {
			.content {
				&__info {
					h3 {
						font-size: 2.2rem;
					}

					p,
					address {
						font-size: 1.4rem;
					}
				}

				&__location,
				&__hours {
					flex-grow: 1;
				}
			}
		}

		&-logos {
			.logo {
				img {
					height: 100px;
				}
			}
		}
	}

	.fsBody {
		#fsForm2426652 {
			#fsRow2426652-1 {
				.fsRowBody {
					.fsSubFieldGroup {
						.fsSubField {
							width: calc(50% - 10px) !important;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 599px) {
	.afs-sp {
		&-form {
			&.birthday {
				.form-header {
					font-size: 0.6rem;

					.birthday-l1 {
						margin-bottom: -5px;

						&::before,
						&::after {
							height: 7px;
							margin: 7px 10px 0 10px;
							border-top: 2px solid $form-header-color;
							border-bottom: 2px solid $form-header-color;
						}
					}
				}
			}

			.form-form {
				p {
					font-size: 1.4rem;
				}
			}
		}

		&-logos {
			&-content {
				font-size: 1.8rem;
			}
		}

		&-simple {
			font-size: 1.8rem;
		}
	}
}

@media screen and (max-width: 479px) {
	.afs-sp {
		&-form {
			&.birthday {
				.form-header {
					font-size: 0.5rem;

					.birthday-l1 {
						&::before,
						&::after {
							margin: 5px 10px 0 10px;
						}
					}
				}
			}

			&.parade {
				.form-header {
					font-size: 0.55rem;

					.parade-l1 {
						font-size: 4em;
					}

					.parade-l2 {
						font-size: 11em;
					}

					.parade-l3 {
						font-size: 3.4em;
						margin-bottom: 10px;
					}

					.parade-l4 {
						font-size: 1.9em;
					}
				}
			}

			.form-form {
				p {
					font-size: 1.2rem;
				}
			}
		}

		&-simple {
			.btn--square {
				font-size: 1.6rem;
				padding: 15px 30px;
			}

			&-bg {
				padding-bottom: 200px;

				.afs-title-skinny {
					width: 100%;
					font-size: 2.2rem;
				}
			}
		}

		&-3col {
			.item {
				&-icon {
					width: auto;
					height: auto;
					max-height: 200px;
				}

				&-content {
					padding: 0 15px;
				}
			}

			&.dark {
				.item {
					&-content {
						font-size: 1.6rem;
					}
				}
			}
		}

		&-5col {
			&__column {
				width: 100%;
			}
		}

		&-wholesale-2018 {
			.content {
				padding: 30px;

				&__info {
					flex-direction: column;
				}

				&__location {
					margin-bottom: 30px;
				}
			}
		}
	}

	.fsBody {
		#fsForm2426652 {
			#fsRow2426652-1 {
				.fsRowBody {
					.fsSubFieldGroup {
						.fsSubField {
							width: 100% !important;

							&.fsNameFirst {
								margin-bottom: 40px;
							}
						}
					}
				}
			}

			#fsRow2426652-2, //Form Field - Phone
			#fsRow2426652-3  //Form Field - Email
			 {
				width: 100%;
			}

			#fsRow2426652-4 //Form Field - Purchase
			 {
				.fsRowBody {
					select {
						width: 100%;
					}
				}
			}
		}
	}
}
