.woocommerce-cart {
	.woocommerce-cart-form {
		&__title {
			@extend .afs-title-lg;
			color: $afs-blue;
		}

		table.shop_table {
			tbody {
				tr.cart_item {
					td.product-thumbnail {
						img {
							width: 60px;
						}
					}

					.pickup-location-field {
						display: none;
					}
				}
			}
		}
	}

	.woocommerce-checkout {
		table.shop_table {
			tbody {
				tr.cart_item {
					.pickup-location-field {
						display: none;
					}
				}
			}
		}
	}

	.cart-collaterals {
		.cart_totals {
			> h2 {
				padding: 9px 12px;
				border-bottom: 1px solid rgba(0,0,0,.1);

				font-size: 1.8rem;
				font-weight: 700;
				color: $gray-dark;
			}

			table.shop_table {
				border: none;

				tbody {
					tr {
						th {
							font-size: 1.8rem;
							font-weight: 500;
							color: $afs-blue;
						}

						&.shipping {
							.pickup-location-field {
								margin: 10px 0;

								font-weight: 300;

								small {
									font-size: 1.8rem;
									color: $gray-dark;
								}

								.pickup-location-address {
									margin: 10px 0;
									font-size: 14px;
								}

							}

							.woocommerce-shipping-contents {
								display: none;
							}

							#wc-local-pickup-plus-toggle-default-handling {
								color: white;

								a {
									color: $afs-blue-light;
								}
							}

						}

						&.order-total {
							th, td {
								border-bottom: 1px solid rgba(0,0,0,.1);
							}
						}

					}
				}
			}
		}

	}

	.afs-page {
		padding: 0;
		margin: 0;
	}

	.afs-empty-cart {
		padding: 60px 0;
	}
}