.woocommerce {
	//Single Product page
	div.product {

		span.onsale {
			top: -15px;
			left: -15px;
		}

		div.woocommerce-product-gallery {
			margin-bottom: 60px;

			.woocommerce-product-gallery__wrapper {
				.woocommerce-product-gallery__image {
					margin-bottom: 15px;

					&:not(:first-child) {
						width: calc(25% - (45px/4));
					}

					+ .woocommerce-product-gallery__image:not(:nth-child(4n - 2)) {
						margin-left: 15px;
					}
				}
			}
		}

		.product_title {
			@extend .afs-title-lg;
			color: $afs-blue;
		}

		.price-container {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}

		.product-quantity-notice {
			display: none;
			p {
				font-weight: 400;
				font-style: italic;
			}
		}

		.product-sqft-notice {
			margin-bottom: 30px;

			.quantity {
				font-weight: 700;
				font-size: 18px;
				color: red;
			}
		}

		.product_attributesList {
			list-style: none;
			padding: 0;
			margin: 0 0 30px 0;

			li {
				display: flex;
				flex-flow: row nowrap;

				padding: 10px 0;
				border-bottom: 1px solid $gray-lightest;

				span.label {
					flex: 0 1 250px;

					padding: 0;

					color: $afs-blue;
					font-size: 1.8rem;
					font-weight: 600;

					text-align: left;
				}

				@media screen and (max-width: 479px) {
					flex-flow: column nowrap;

					span.label {
						flex: auto;
					}
				}
			}
		}

		.woocommerce-product-rating {
			margin-bottom: 10px;
		}

		.woocommerce-review-link {
			color: $afs-blue-light;
			font-weight: 1.6rem;
			font-weight: 300;
		}

		p.price {
			font-size: 1.6rem;

			.woocommerce-Price-amount {
				font-weight: 300;
			}

			del {
				opacity: 1;
				color: $gray-dark;
				margin-right: 15px;

				.woocommerce-Price-amount {
					color: $gray-dark;
				}
			}

			ins {
				.woocommerce-Price-amount {
					color: $afs-green;
					font-weight: 700;
				}
			}
		}

		.custom-description {
			font-weight: 300;

			&__list {
				margin-bottom: 30px;

				h3 {
					margin-bottom: 5px;

					@extend .afs-title-sm;
					color: $gray-dark;
				}

				&-container {
					display: flex;
					flex-flow: row nowrap;

					padding-bottom: 10px;
					border-bottom: $nav-main-separator;
					margin-bottom: 10px;

					@media screen and (max-width: 479px) {
						flex-flow: column nowrap;
					}

				}

				&-label {
					flex: 0 0 150px;
					margin-bottom: 0;

					font-size: 1.8rem;
					font-weight: 500;
					color: $afs-blue;

					@media screen and (max-width: 767px) {
						flex: 0 0 125px;
						font-size: 1.5rem;
					}

					@media screen and (max-width: 479px) {
						flex: 1 1 auto;
					}
				}

				ul {
					padding: 0;
					margin: 0;

					list-style: none;

					li {
						position: relative;
						padding-left: 30px;

						&::before {
							content: "\f178";
							position: absolute;
							left: 0;

							display: inline-block;

							font-family: $icon-font-name;

							color: $afs-blue-light;
						}
					}
				}
			}
		}

		.cart {
			button.button {
				margin: 0 15px;
				padding: 10px 15px;
			}
		}

		div.product_meta {
			.sku_wrapper,
			.posted_in {
				display: block;
				font-size: 1.6rem;
				font-weight: 300;
			}

			.posted_in {
				a {
					color: $afs-blue-light;
					font-weight: 700;
				}
			}
		}

		.related.products {
			clear: both;

			> h2 {
				font-size: 1.8rem;
				font-weight: 700;
				color: $gray-dark;
			}


			ul.products {
				margin-top: 0;

				@supports (display: grid) {
					grid-template-columns: 1fr 1fr 1fr 1fr;

					@media screen and (max-width: 991px) {
						grid-template-columns: 1fr 1fr;
					}

					@media screen and (max-width: 479px) {
						grid-template-columns: 1fr;
					}

					&::before,
					&::after {
						content: none !important;
					}

					li.product {
						width: 100% !important;
					}
				}
			}
		}

		@media screen and (max-width: 991px) {
			div.summary {
				width: 100%;
			}
		}

	}
}

