.btn {
	position:relative;

	display: inline-block;

	margin: $gth;
	padding: $gth $gtd;

	font-family: $font-family-sans-serif;
	color: $afs-text-color-4;
	line-height: 1;

	background: $afs-btn-main-bg;
	@include gradient-vertical($afs-btn-main-bg, $afs-btn-main-bg-dark, 0%, 100%);

	border: none;
	box-shadow: none;

	&:hover {
		color: white;
		text-decoration: none;
	}

	/*Caret Effect*/
	&--caret {
		&::after {
			position: absolute;
			right: 10px;
			top: 50%;

			content: "\f0da";
			font-family: $icon-font-name;
			color: $afs-text-color-4;

			opacity: 0;
			transform: translate3d(-15px, -50%, 0);

			transition: transform 250ms ease-in, opacity 250ms ease-in, -webkit-transform 250ms ease-in;
		}

		&:hover {
			&::after {
				transform: translate3d(0, -50%, 0);
				opacity: 1;
			}
		}
	}

	&--nocaret {
		&::after {
			content: none !important;
		}
	}

	&--square {
		@extend .btn;
		@extend .btn--caret;

		font-size: 3rem;
		font-weight: 700;

	}

	&--arrow {
		@extend .btn;
		@extend .btn--caret;


		z-index: 0;
		font-size: 1.8rem;
		font-weight: 200;


		&::before {
			content: " ";
			position: absolute;
		    top: 7px;
		    right: -17.3px;
			z-index: -1;


		    width: 33.6px;
		    height: 33.6px;

		    background-image: linear-gradient(-216deg, #82a850 0%, #67893e 100%);

			transform: rotate(46deg);
		}

		&::after {
			right: -5px;
		}

	}

	&--rounded {
		@extend .btn;
		@extend .btn--caret;

		font-size: 1.8rem;
		font-weight: 700;

		border-radius: 5px;

		&:hover {
			background: $afs-btn-main-bg;
			@include gradient-vertical($afs-btn-main-bg, $afs-btn-main-bg-dark, 0%, 100%)
		}
	}

}

@media screen and (max-width: 991px) {
	.btn {
		padding: $gth;

		&--arrow {
			font-size: 1.6rem;

			&::before {
				right: -17px;
				width: 32.4px;
				height: 32.4px;
   			}

		}
	}
}


@media screen and (max-width: 767px) {
	.btn {

		&--square {
			font-size: 1.6rem;
		}
	}
}

@media screen and (max-width: 479px) {
	.btn {
		&--arrow {
			&::before {
				content: none;
			}

		}
	}
}