#comments {
	margin:50px 0;
}
#comments .heading {
	font-size:18px;
	margin-bottom:30px;
}
#comments .comment-list {
	list-style-type:none;
	padding-left:0;
}
#comments .comment-list ol {
	list-style-type:none;
}
#comments .comment-list li {
	padding:15px;
	margin:20px 0;
}
#comments .comment-list li:nth-child(odd) {
	border-left:5px solid darken($gray-lighter,20%);
	background:lighten($gray-lighter,5%);
}
#comments .comment-list li:nth-child(even) {
	border-left:5px solid darken($gray-lighter,15%);
	background:$gray-lighter;
}
#comments .comment-list li li:nth-child(odd) {
	border-left:5px solid darken($gray-lighter,15%);
	background:$gray-lighter;
}
#comments .comment-list li li:nth-child(even) {
	border-left:5px solid darken($gray-lighter,20%);
	background:lighten($gray-lighter,5%);
}
#comments .comment-list .comment-meta {
	margin-bottom:30px;
	font-size:12px;
}
#comments .comment-list .reply {
	margin-top:30px;
}
#comments .comment-author {
	margin-bottom:8px;
}
#comments cite.fn {
	font-size:24px;
	margin-top: 1px;
	margin-left:15px;
	display: inline-block;
	font-style:normal;
}
#comments .says {
	font-size:14px;
}
#comments .reply:before {
	content:"\f075";
	font-family:"FontAwesome";
	margin-right:5px;
	color:$brand-primary;
}
#comments #respond {
	border-top:1px solid $gray-lighter;
	padding-top:30px;
}
#comments #respond #reply-title {
	font-size:18px;
}
#comments #respond label {
		display: block;
}
#comments #respond .comment-form-comment textarea {
	display:block;
	clear:both;
	width:100%;
}
