.afs-footer {
	width: 100%;
	background-color: $afs-secondary-bkg;
	color:$gray-light;

	.copy {
		text-align: left;
		font-size: 1.4em;

		.list-inline {
		    display: inline-block;
    		margin-left: 15px;

    		li:not(:last-child) {
    			border-right: $nav-main-separator;
    		}
		}
	}

	.credits {
		text-align: right;
		font-size: 1.4em;


		.bldcred a:hover {
			color:#235c86;
		}

	}


	a {
		color:$gray-light;

		&:hover,
		&:active {
			color:$gray-lighter;
		}
	}
}




.footer-main {
    position: relative;
    padding-bottom: 90px;

	> div {
		margin-bottom: $gtf;
	}

	.main-logo {

		img {
			width: 250px;
		}
	}

	.main-locations{

		padding: 0;
		border-left: $nav-main-separator;

		.sitemap-col {
			width: 60%;
		}

		a {
			padding: 15px;
		}
	}

	.main-display {
		position: absolute;
		top: 100px;
		left: 0;

		clear: both;

		.main-social {
			border-bottom: $nav-main-separator;
			padding-bottom: $gth;
			margin-bottom: $gtf;

			&-title {
				font-family: $font-family-sans-serif;
				color: $afs-body-main-color;
				font-size: 1.6em;
				font-weight: 600;
			}

			.social-links-list {
				li {
					margin: 0 $gth;

					a {
						font-size: 2.4em;

						&:hover {
							color: $afs-text-color-3;
						}
					}
				}
			}

		}

		.main-bbb {
			img {
			    height: 60px;
			}

			img:not(:last-child) {
			    margin-bottom: 15px;
			    margin-right: 15px;
			}
		}
	}


	ul {
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;

			&.sitemap-col {
				display: inline-block;
				width: 50%;
				float: left;

				> a {
					font-family: $font-family-sans-serif;
					color: $afs-body-main-color;
					font-size: 1.6em;
					font-weight: 600;
					line-height: 1;

					cursor: default;

					&:hover {
						text-decoration: none;
					}
				}

				&::after {
					content: " ";
					clear: both;
				}
			}

			&.sitemap-header-hide {
				li:first-child {
					margin-top: 0;
				}

				> a {
					display: none;
				}
			}
		}

		&.sub-menu {
			> li {
				margin-bottom: $gth;

				> a {
					font-family: $font-family-sans-serif;
					color: $afs-body-main-color;
					font-size: 1.4em;
					font-weight: 300;
					line-height: 1;
				}

				&.sitemap-separator {
					padding-bottom: $gth;
					border-bottom: $nav-main-separator;
				}

				&:first-child {
					margin-top: $gth;
				}
			}
		}
	}
}


@media screen and (max-width: 1439px) {
	.footer-main {
	    padding-bottom: $gtf;

		.main-locations {
			.sitemap-col {
			    width: 75%;
			}
		}

		.main-display {
			position: relative;
			top: auto;

			padding: $gtf 0;
			border-top: $nav-main-separator;
			border-bottom: $nav-main-separator;
			margin: $gtf 0 0 0;

			.main-social,
			.main-bbb {
				display: inline-block;
				width: 50%;
				float: left;
				text-align: center;

				border: none;
			}

			.main-social {
				padding: 0;
				margin: 0;

				.social-links-list {
					li {
						a {
							font-size: 4em;
						}
					}
				}
			}


			.main-bbb {
				padding: 35px $gth 0 $gth;

				img {
					height: 60px;
				}
			}

			&::after {
				content: " ";
				display: block;
				clear: both;
			}
		}
	}
}


@media screen and (max-width: 1199px) {
	.footer-main {

		.main-logo {
		    text-align: center;
		}

		.main-sitemap-2 {
			ul {
				li {
					&.sitemap-col {
						display: block;
						width: 100%;
						float: none;
   					}
				}
			}
		}

		.main-locations {
			border: none;

			.sitemap-col {
				width: 100%;
			}
		}
	}

	.footer-credits {
		.copy {
			.list-inline {
				margin: 0;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.footer-main {
		.main-locations {
			a {
				padding: $gth 5px;
			}
		}

	}
}

@media screen and (max-width:767px) {

	#footer {
		text-align:center;
		position: relative;

		.copy {
			text-align:center;
			display:block;
			margin:15px 0;
		}
		.credits {
			text-align:center;
			display:block;
			margin:15px 0;
		}

	}

	.main-sitemap-1,
	.main-sitemap-2,
	.main-locations {
		display: none;
	}

	.main-display {
		margin-bottom: 0;
	}

}


@media screen and (max-width: 599px) {
	.footer-main {
		.main-display {
			.main-social,
			.main-bbb {
				width: 100%;
			}

			.main-social {
				padding-bottom: $gtf;
				border-bottom: $nav-main-separator;

				.social-links-list {
					li {
						margin: 0 5px;
					}
				}
			}
		}
	}

	.footer-credits {
		.copy {
			.list-inline {
				display: block;
			}
		}
	}

}
