.page-content,
.post-loop,
#sidebar {
	margin:50px 0;
}


.afs-page {
	padding: 15px 0 90px 0;

	@media screen and (max-width: 1199px) {
		padding: 60px 0;
	}

	@media screen and (max-width: 767px) {
		padding: 30px 0;
	}
}