.panel {

	-webkit-box-shadow: none;

	        box-shadow: none;

	.panel-heading {
		padding:0;

		a[data-toggle="collapse"] {
			display:block;
			padding:15px 3px;
			color:$brand-danger;
			background-color:transparent;
			text-decoration:none;

			&:after {
				content:"\f13a";
				font-family:'FontAwesome';
				color:$brand-danger;
				float:right;
			}

		}
		a.collapsed {
			background-color:transparent;
			color:$brand-primary;

			&:after {
				content:"\f139";
				font-family:'FontAwesome';
				color:$brand-primary;
			}

		}

	}

	.panel-body {
		border:0 !important;
		padding:15px 0;
		font-size:14px;
	}

}
.panel-default {

	border-color:transparent;

	&>.panel-heading {
		background-color:transparent;
		border-color:transparent;
		border-top:1px solid $gray-lighter;
		border-bottom:1px solid $gray-lighter;
	}

}
