/*Sidebar - Quote*/
.sb-quote {
	position: fixed;
	top: 0; right:0; bottom: 0;
	z-index: 1050;

	width: 600px;

	border-left: $sbq-border;

	background: $afs-primary-bkg;

	font-size: 1rem;

	-webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);


	transition: -webkit-transform 250ms ease-in;
	-webkit-transition: -webkit-transform 250ms ease-in;
	-o-transition: transform 250ms ease-in;
	transition: transform 250ms ease-in;
	transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;



	&-content {
		position: absolute;
		top: 0; right:0; bottom: 0;


		padding: 90px 30px;

		.afs-title-lg {
			font-size: 5rem;
			color: $afs-text-color-2;
		}

		p {
			@extend .afs-body-main;
		}

		&::-webkit-scrollbar {
			width: 10px;
			background-color: $scroll-bg;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $scroll-thumb;
			max-height: 20px;
		}
	}

	&-tag {
		position: absolute;
		top:250px; left:-135px;

		-webkit-transform: rotate(-90deg);
		    -ms-transform: rotate(-90deg);
		        transform: rotate(-90deg);

		width: 215px;

		padding: 15px $gtf;

		/* Using Veritcal because the whole tag is rotated*/
		@include gradient-vertical($afs-btn-sbq-bg, $afs-btn-sbq-bg-dark, 0%, 100%)

		box-shadow: 0px 0px 15px 0px transparentize(black, 0.65);

		@extend .afs-title-sm;
		color: $afs-text-color-2;
		text-align: center;

		cursor: pointer;

		&::before {
			content: " ";
			display: block;
			position: absolute;
			top: -14px;
			left: 0;


			width: 100%;
			height: 0;

			border-left: 100px solid transparent;
			border-right: 100px solid transparent;

			border-bottom: 15px solid $gray-lightestest;
		}
	}



	&-close {
		position: absolute;
		top: $gth;
		right: $gth;

		cursor: pointer;
		z-index: 5;

		.fa-circle {
			color: $sbq-close-bg;
		}

		.fa-times {
			color: $sbq-close-color;
		}


	}
}

.sb-open {
	overflow: hidden;

	.sb-quote {
		-webkit-transform: translateX(0%);
		    -ms-transform: translateX(0%);
		        transform: translateX(0%);

		&-content {
			overflow-y: auto;
		}

	}
}

.sb-quote-link {
	cursor: pointer;
}

#sidebar-widgets {
	padding: 0;
}

@media screen and (max-width: 1199px) {

	.sb-quote {
		&-tag {
			padding: 10px $gtf;
			font-size: 1.2rem;
			left:-130px;

			&::before {
				border-left: 81px solid transparent;
				border-right: 81px solid transparent;
			}
		}
	}
}


@media screen and (max-width: 767px) {
	.sb-quote {
		width: 100%;

		&-tag {
			display: none;
		}

		&-content {
			padding: 30px 15px;
		}

		&.open {
			.sb-quote-content {
				overflow-x: auto;
			}
		}

	}
}